<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
   
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
@*    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">*@
@*
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>*@
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/Seguridad/iniciosesion.css" />
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Inicio</h3>

        <label for="username">Usuario</label>
        <input type="text" placeholder="usuario" id="usuario">

        <label for="password">Contraseña</label>
        <input type="password" placeholder="contraseña" id="contrasena">

        <button id="idsesion">Inicio</button>
       @* <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>*@
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="js/login/login.js"></script>
</body>
</html>



